* {
  margin: 0;
  font-family: Arial;
  border: border-box; /*border size is counted within element's area*/
}

.navbar {
  height: 60px;
  background-color: #131a22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 113px;
}

.logo {
  background-image: url("amazon_logo.png");
  height: 50px;
  width: 100px;
  background-size: cover;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* box 2 */
.add-first {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 0.85rem;
  margin-left: 5px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  width: 640px;
  height: 38px;
  border-radius: 5px;
  margin-left: 5px;
}

.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
  font-size: 12px;
  color: rgb(91, 91, 91);
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

.lang-select {
  background-color: #0f1111;
  color: #f3f3f3;
  border: none;
  font-weight: 700;
}

.nav-lang {
  height: 35px;
  width: 50px;
  display: flex;
  align-items: center;
}

.panel {
  height: 39px;
  background-color: #222f3d;
  display: flex;
  color: #f3f3f3;
  align-items: center;
  justify-content: space-evenly;
}

.options {
  display: inline;
  font-family: sans-serif;
  font-weight: 500;
  padding: 5px;
}

.panel-ops {
  width: 92%;
  font-size: 0.85rem;
}

.hero-section {
  background-image: url(hero_image.jpg);
  background-size: cover;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: #0f1111;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 97%;
  margin-bottom: 20px;
  font-weight: 600px;
}

.hero-msg a {
  color: #007185;
}

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e3e6e6;
}

h2 {
  color: #0f1111;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.box-img {
  height: 320px;
  background-size: cover;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}

header a:hover {
  color: brown;
  text-decoration: underline;
  cursor: pointer;
}

.hero-section a:hover {
  color: brown;
  text-decoration: underline;
  cursor: pointer;
}

.foot-panel0 {
  border-top: 0.2px solid rgb(220, 218, 218);
  border-bottom: 0.2px solid rgb(220, 218, 218);
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 40px;
  display: block;
  text-align: center;
  height: 80px;
}

button {
  height: 28px;
  width: 230px;
  background-color: #ffcc4b;
  border-radius: 5px;
  border: 1px #c5910c solid;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
}

.foot-panel0 a {
  color: #007185;
}

.foot-panel0 a:hover {
  color: brown;
  cursor: pointer;
}

.foot-panel0 p {
  font-size: 0.75rem;
}

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 50px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 12px;
  color: #dddddd;
}

ul p {
  font-weight: 600;
}

.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.2px solid rgb(88, 88, 88);
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("amazon_logo.png");
  height: 50px;
  background-size: cover;
  width: 100px;
}

.foot-panel4 {
  background-color: #131a22;
  color: white;
  height: 50px;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
